@font-fase {
	font-family: "Segoe UI";
    src: url(../fonts/segoeui.woff2) format("woff2"),
        url(../fonts/segoeui.woff) format("woff");
    font-weight: 400;
    font-style: normal; 
}
@font-fase {
	font-family: "Segoe UI";
    src: url(../fonts/segoeui-light.woff2) format("woff2"),
        url(../fonts/segoeui-light.woff) format("woff");
    font-weight: 300;
    font-style: lighter; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin: 0 auto;
	font-family: "Segoe UI", "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.header {
	position: sticky;
  top: 0px;
  z-index: 10;
}
.header__top {
	background-color: #eaeaea;
}
.header__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	list-style: none;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px;
}
.header-menu {
	background-color: #ffffff;
	border-bottom: 2px solid rgb(190, 191, 191);
}
.header-menu__inner {
	max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo__title {
	margin: 0px;
}
.header-logo__link {
	display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
.header-logo__link span {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.header-logo__img {
	display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header-menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0px;
  margin: 0px auto;
  list-style: none;
}
.header-menu__link {
	display: block;
	/*padding: 10px 0;*/
	text-align: center;
	font-size: 22px;
	font-weight: 400;	
	color: #4e4c4c;
	text-decoration: none;
}
.header-menu__item {
	width: 100%;
	position: relative;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  margin: 0 auto;
}
.header-menu__sub {
	width: 270px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 45px;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 1;
}
.header-menu__sub::before {
	content: "";
	position: absolute;
	height: 5px;
	top: -5px;
	left: 0;
	right: 0;
}
.header-menu__sub {
	display: none;
}
.header-menu__sub-link {
	display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
}
.header-menu__item:hover {

}
.header-menu__link:hover {
	
}
.header-menu-mob {
	margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #008cd6;
}
.header-menu-mob__item {
	display: flex;
  justify-content: space-between;
  position: relative;
}
.header-menu-mob__link {
	display: block;
  width: 35%;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  padding: 8px 0px;
  cursor: pointer;
  text-decoration: none;
  border-left: 1px solid #ffffff;
}
.header-menu__list {
	display: none;
}
.header__link {
	display: none;
}
.header__item span {
	font-size: 12px;
  vertical-align: text-top;
  color: #646464;
}
@media (min-width: 767px) {
	.header__img {
		margin-right: 5px;
	}
	.header__item {
		padding-top: 6px;
    padding-bottom: 2px;
		margin-right: 27px;
	}
	.header__item:last-child {
		margin-right: 0px;
	}
	.header__list {
		justify-content: flex-end;
	}
	.header__item span {
		font-size: 13px;
		font-weight: 400;
	}
	.header__link {
		display: block;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		color: #646464;
		text-decoration: none;
	}
	.header-menu-mob {
		display: none;
	}
	.header-menu__list {
		display: flex;
		width: 390px;
	}
	.header-menu__inner {
		padding-top: 5px;
    padding-bottom: 5px;
	}
	.header-top {
		display: block;
	}
	.header-menu__link {
		font-size: 16px;
	}
	.header-menu__item {
		width: auto;
    border: none;
    margin: 0px;
	}
	.header-top__contact {
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.header-social {
		width: 100%;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.header-social__link {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.header-menu__inner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.header-menu__list {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		        margin: 0px;
		        margin-top: 15px;	
	}
	.header-menu__item:hover {
		margin-bottom: -5px;	
		border-bottom: 4px solid #000;
	}
	.header-menu__item:hover .header-menu__sub {
		display: block;
	}
	.header-menu__sub-item:hover .header-menu__sub-link {
		color: #fff;
		background-color: rgb(86, 86, 86);
	}
}
@media (min-width: 1024px) {
	.header-menu__item:hover {
		border-bottom: 4px solid #000;
	}
}
.banner {
	background-image: url(../img/bg-banner.png);
	background-repeat: no-repeat;
}
.banner__list {
	max-width: 1140px;
	margin: 0 auto;
}
.banner__link {
	outline: none;
}
.banner__img {
	max-width: 100%;
}
.description {
	margin-bottom: 35px;
}
.description__inner {
	max-width: 1140px;
	margin: 0 auto;
}
.description__title {
	font-size: 28px;
	font-weight: 400;
	color: #333;
	text-align: center;
}
.description__text {
	margin: 0px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 400;
	color: #4e4c4c;
	text-indent: 10px;
	text-align: justify;
	margin-bottom: 30px;
}
.description__link {
	display: block;
  width: 170px;
  height: 40px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 37px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: rgb(0, 142, 248);
  border-radius: 10px;
}
@media (min-width: 768px) {
	.description__title {
		font-size: 36px;
		padding: 0 20px;
	}
}
@media (min-width: 1024px) {
	.description__title {
		padding: 0px 185px;
		font-size: 36px;
		font-weight: 400;
		color: #333;
		text-align: center;
	}
	.description__text {
		padding: 0px;
	}
}
.footer__wrapper {
	width: 100%;
	background-color: rgb(235, 235, 235);
}
.footer__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto auto 0;
  max-width: 1140px;
  overflow: hidden;
}
.footer-head {
	background-color: rgb(0, 140, 214);
}
.footer-head__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: auto 20px 0;
	max-width: 1140px;
	overflow: visible;
	text-align: center;
}
.footer-head__item {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	margin: auto;
	padding: 1px;
}
.footer-head__link {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	white-space: nowrap;
}
.footer-social {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
  width: 200px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}
.footer-social__item {
	margin-right: 10px;
}

@media screen and (min-width: 768px) {
	.footer span {
		position: absolute;
  	background-color: rgb(39, 49, 61);
  	width: 100%;
  	height: 60px;
  	display: block;
  	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
  	        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
	}
	.footer-head__inner {
		flex-direction: row;
		margin: auto auto 0;
		text-align: center;
	}
}
.footer-list__wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	z-index: 1;
	padding: 20px;
  margin: 5px;
}
.footer-list {
  font-size: 18px;
  line-height: 1.5em;
  list-style-type: none;
  margin: 0px;
  padding: 0;
}
.footer-list__point {
	color: #ffffff;
	font-size: 16px;
	text-align: center;
}
.footer-list__point img {
	vertical-align: text-bottom;
}
.footer-list__title {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 0;
  padding-bottom: 5px;
  text-align: center;
}
.footer-list__link {
	font-size: 16px;
	font-weight: 300;
  color: #333333;
  text-decoration: none;
  white-space: nowrap;
}
.footer-list__wrapper:last-child {
	border-right: none;
}
.footer-copyright {
	width: 100%;
	background-color: rgb(51, 51, 51);
}
.footer-copyright__text {
	max-width: 1140px;
  margin: 0 auto;
  padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	font-weight: 300;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
	.footer-list__wrapper {
		margin: 0px;
		padding: 0px;
	}
	.footer-social {
		justify-content: flex-start;
	}
	.footer-social__link img {
		margin-top: 3px;
	}
	.footer-list--first {
		margin-left: 0;
	}
	.footer-list--last {
		margin-right: 0;
	}
	.footer-list {
		margin: 10px auto;
		margin-bottom: 30px;
	}
	.footer-head__link {
    line-height: 51px;
  }
}
@media screen and (min-width: 1140px) {
	.footer-list__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer-list--first {
		margin: 10px auto;
		margin-bottom: 30px;
	}
	.footer-list--last {
		margin: 18px auto;
	}
	.footer-list__point {
		text-align: left;
	}
	.footer-head__link {
    font-size: 24px;

  }
	/*.footer-list__title {*/
		/*text-align: left;*/
	/*}*/
}
.service {
	max-width: 1140px;
	margin: 0 auto;
}
.service a {
	text-decoration: none;
}
.service__title {
	margin: 0px 10px;
  padding: 0px;
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}
.service__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0 auto;
	padding: 0px;
	padding-top: 34px;
	list-style: none;
}
.service__link {
	text-decoration: none;
}
.service__text {
	margin: 0px;
	margin-bottom: 16px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #5b5b5b;
}
.service__inner {
	width: 250px;
  height: 100%;
  padding: 24px 0px;
  margin: 0 auto;
  background-color: rgb(242, 242, 242);
}
.service__img {
	margin-bottom: 20px;
}
.service__item {
	width: 250px;
  /*height: 315px;*/
}
.service__btn {
	display: block;
  width: 170px;
  height: 40px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  line-height: 37px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: rgb(0, 142, 248);
  border-radius: 10px;
} 
@media (min-width: 768px) {
	.service__title {
		font-size: 36px;
	}
}
@media (min-width: 1024px) {
	.service__title {
		margin: 0px;
	}
}
.feedback {
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
}
.feedback__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 35px;
	padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid;
}
.feedback__title {
	max-width: 570px;
	margin: 0px;
	padding: 0 10px;
  padding-bottom: 30px;
	font-size: 25px;
	font-weight: 400;
	line-height: 30px;
	color: #333333;
}
.feedback__name {
	margin: 0px 10px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  color: #313d4b;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
.feedback__input {
	width: 100%;
	max-width: 570px;
	margin: 5px 0;
	padding-left: 5px;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	line-height: 22px;
	outline: none;
	border: none;
	background-color: hsla(0,0%,100%,-0.7);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.feedback__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 570px;
	margin-top: 14px;
	padding-left: 10px;
}
.feedback__text {
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
  padding-left: 20px;
  font-size: 16px;
}
.feedback__link {
	color: rgb(51, 195, 255);
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgb(51, 195, 255);
}
.feedback__chechbox[type="checkbox"] {
  display: none;
}
.feedback__icon {
  position: relative;
}
.feedback__icon::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 0px;
  top: 6px;
  border: 1px solid rgb(51, 195, 255);
}
.feedback__icon::after {
  display: none;
  position: absolute;
  content: "";
  left: 2px;
  top: 8px;
  width: 32px;
  height: 24px; 
  background-image: url(../img/icon-tick.png);
  background-repeat: no-repeat;
}
input:checked ~ .feedback__icon::after {
  display: block;
}
.feedback__submit {
  width: 170px;
  height: 40px;
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(51, 195, 255);
  border-radius: 10px;
}
.feedback__img {
	display: none;
}
.feedback__img {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: -1;
}
@media (min-width: 768px) {
	.feedback__form {
		padding-left: 20px;
	}
	.feedback__img {
		display: block;
	}
	.feedback__text {
		padding-right: 80px;
	}
	.feedback__input {
		font-size: 16px;
		padding-left: 10px;
	}
	.feedback__inner {
		
	}
	.feedback__submit {
		margin-top: 31px;
    margin-left: auto;
	}
}
@media (min-width: 1024px) {
	.feedback__name {
		margin: 0px;
	}
	.feedback__title {
		padding: 0px;
		padding-bottom: 10px;
	}
	.feedback__inner {
		padding: 0px;
	}
	.feedback__input {
		padding-left: 3px;	
	}
}
.about-us {
	background-color: rgb(0, 0, 0);
	margin-bottom: 25px;
}
.about-us__inner {
	max-width: 1140px;
	margin: 0 auto;
}
.about-us__list {
	padding: 0px;
	margin: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
.about-us__item {
	position: relative;
	outline: none;
}
.about-us__block {
	position: absolute;
	top: 0px;
	min-height: 300px;
	z-index: 1;
}
.about-us__name {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	margin: 0px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: ;
}
.about-us__text {
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	padding: 0 10px;
	text-align: left;
}
.about-us__block {
	opacity: 1;
	border: 1px solid #0094f2;
}
/*.about-us__block:hover {*/
	/*opacity: 1;*/
	/*border: 1px solid #0094f2;*/
	/*cursor: pointer;*/
/*}*/
.about-us__title {
	/*display: block;*/
	display: none;
	width: 140px;
	position: absolute;
  margin: 0px;
  padding: 0px;
  left: 22px;
  top: 125px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  z-index: 2;
}
/*.about-us__item:hover .about-us__title {*/
	/*display: none;*/
	/*cursor: pointer;*/
/*}*/
/*.about-us__item:hover {*/
	/*border: 1px solid #0094f2;*/
/*}*/
@media (min-width: 767px) {
	.about-us__list {
		padding: 10px 0px;
	}
}
.guidance {
	max-width: 1140px;
	margin: 0 auto;
}
.guidance__title {
	margin: 0px;
  margin-top: 28px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #545454;
}
.guidance__text:first-child {
	margin-bottom: 0px;
}
.guidance__text {
	margin: 0px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
  text-indent: 10px;
  text-align: justify;
  color: #545454;
}
.guidance__name {
	margin: 0px;
  margin-bottom: 30px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #666666;
}
@media screen and (min-width: 767px) {
	.guidance__title {
		font-size: 36px;
	}
}
@media screen and (min-width: 1024px) {
	.inner {
		padding-left: 25px;
	}
	.guidance__text {
		padding: 0;
		font-size: 16px;
	}
	.guidance__title {
		margin-top: 0px;
		margin-left: 0px;
    margin-right: 0px;
	}
	.guidance__name {
		padding: 0px;
	}
}
.order {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.order__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  padding: 10px;
}
.order__item {
	max-width: 270px;
  width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}
.order__text {
	max-width: 270px;
  width: 100%;
  text-align: center;
	padding-left: 25px;
	font-size: 18px;
	line-height: 35px;
  height: 36px;
  color: #fff;
  background-color: rgb(0, 148, 242);
}
.order__min {
	display: block;
	margin-top: 5px;
	font-size: 25px;
	color: #000000;
}
.order__min span {
	font-size: 25px;
	color: #fc7b3e;
}
.order__link {
	display: block;
  width: 250px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #fc7b3e;
  border-radius: 10px;
}
.sidebar {
	display: none;
}
@media (min-width: 1024px) {
	.wrapper {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 30px;
	}
	.sidebar {
	  display: block;
  	}
  	.info__title {
	  	margin: 0px;
	    padding: 0px;
	    margin-bottom: 30px;
	    font-size: 20px;
	    font-weight: 400;
	    height: 35px;
	    line-height: 34px;
	    color: #ffffff;
	    text-align: center;
	    background-color: rgb(0, 0, 0);
	    border-radius: 10px;
  	}
  .info__link {
  	display: block;
    font-size: 20px;
    font-weight: 400;
    color: #545454;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 59px;
  }
	.order__text {
		font-size: 16px;
	}
	.order__min {
		font-size: 18px;
	}
	.order__link {
		width: 193px;
		margin-top: 5px;
		font-size: 16px;
		font-weight: 400;
		height: 36px;
		line-height: 36px;
	}
	.order__img {
		width: 40px;
		height: 42px;
	}
	.order__list {
		padding: 0px;
		margin: 0px;
	}
	.order {
		
	}
	.order__min {
		display: block;
		margin-top: 5px;
		font-size: 18px;
		color: #000000;
	}
	.order__min span {
		font-size: 18px;
		color: #fc7b3e;
	}
}
.breadcrumbs-paper__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}
.breadcrumbs-paper__list a {
	font-size: 13px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}
.breadcrumbs-paper__list span {
	font-size: 16px;
	font-weight: 300;
	padding: 0 5px;
	color: #000000;
}
.breadcrumbs-paper__color {
	color: #0094f2;
	font-style: normal;
}
.breadcrumbs-current {
	font-size: 16px;
	font-weight: 300;
	color: #000;
}
@media (min-width: 768px) {
	.breadcrumbs-paper__inner {
		justify-content: flex-start;
	}
}
@media (min-width: 1024px) {
	.breadcrumbs-paper__inner {
		padding: 0px;
	}
}
.promo {
	max-width: 1140px;
	margin: 0 auto;
}
.promo__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px;
	list-style: none;
}
.promo__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 280px;
	margin-bottom: 10px;
	background-color: rgb(242, 242, 242);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.promo__link {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-self: center;
	align-self: center;
	text-decoration: none;
}
.promo__title {
	align-self: center;
	font-size: 20px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	margin-left: 25px;
}
.promo__link:hover,
.promo__title:hover {
	color: #0094f2;
	text-decoration: underline;
	cursor: pointer;
}
.promo__block {
	margin: 0px;
  margin-right: 5px;
  margin-top: 6px;
  align-self: center;
}
@media (min-width: 768px) {
	.promo__item {
		margin-right: 10px;
	}
}
@media (min-width: 1140px) {
	.promo__list {
		justify-content: space-between;
	}
	.promo__item {
		margin: 0px;
	}
}
.personal-data {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.personal-data__title {
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: #545454;
}
.personal-data__text {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px 10px;
	font-size: 12px;
	font-weight: 300;
	text-indent: 10px;
	text-align: justify;
	color: #545454;
}
.personal-data__item {
	padding-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 300;
	color: #545454;
	text-align: justify;
}
.personal-data__text a {
	display: block;
	color: #545454;
	text-decoration: none;
	text-align: left;
}
.personal-data__name {
	margin: 0px;
  font-size: 18px;
  font-weight: 100;
  color: #8f8f8f;
  text-align: center;
  text-transform: uppercase;
}
.personal-data__caption {
	margin: 15px 0px;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.personal-data__text:last-child {
	margin-bottom: 0px;
}
.sidebar {
	display: none;
}
@media (min-width: 767px) {
	.personal-data__text {
		font-size: 16px;
	}
	.personal-data__item {
		font-size: 16px;
	}
	.personal-data__name {
		font-size: 20px;
	}
	.personal-data__title {
		font-size: 36px;
	}
	.personal-data__text {
		padding-left: 25px;
		padding-right: 47px;
	}
}
@media (min-width: 1024px) {
	.sidebar {
		display: block;
	}
	.personal-data__wrraper {
		padding-left: 25px;
	}
	.personal-data__inner {
		padding-left: 25px;
	}
	.personal-data__text {
		padding: 0px;
    margin-bottom: 25px;
    font-size: 16px;
	}
	.personal-data__item {
		font-size: 16px;
		padding-right: 35px;
	}
	.personal-data__title {
		margin: 0px;
    margin-bottom: 15px;
    font-size: 36px;
	}
}
.catalog {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.catalog__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.catalog__title {
	margin: 0px 10px;
  margin-top: 20px;
  margin-bottom: 22px;
  padding-bottom: 12px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #565656;
}
.catalog__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}
.catalog__item {
	margin: 0 auto;
}
.catalog__show-all {
	display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  height: 55px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #0094f2;
  border-radius: 100px;
}
.catalog-list__inner {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catalog-list__inner span {
	display: block;
	max-width: 120px;
	width: 100%;
	height: 50px;
	margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #0094f2;
  transition: 0.40s;
}
.catalog-list__inner span:hover {
	transform: scale(1.09, 1.09);
}
.catalog__model {
	display: block;
  width: 145px;
  height: 189px;
  text-decoration: none;
  margin-bottom: 25px;
  border: 1px solid #e6e6e6;
}
.catalog__model:focus {
	position: relative;
	outline: none;
}
.catalog__model:focus:after {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 145px;
  height: 189px;
  content: '';
  display: block;
  border: 1px solid #0094f2;
  z-index: 1;
  pointer-events: none;
  box-shadow: 0px 0px 10px #0094f2;
}
.catalog__model:hover:focus {
	border: 1px solid #0094f2;
}
.catalog__model:hover {
	border: 1px solid #0094f2;
}
.catalog__pucture {
	width: 60%;
  height: 60%;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  transition: 0.40s;
}
.catalog__pucture:hover {
	transform: scale(1.04, 1.04);
}
.catalog-list {
	margin-top: 20px;
}
.catalog-list.collapse {
	display: block;
}
@media (min-width: 768px) {
	.catalog-list__inner {
		display: flex;
    flex-wrap: wrap;
	}
	.catalog-list__inner span:hover {
		transform: scale(1.10, 1.10);
	}
	.catalog__model {
		width: 270px;
		height: 285px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
	}
	.catalog__model:focus {
		position: relative;
		outline: none;
	}
	.catalog__model:focus:after {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 285px;
    width: 270px;
    content: '';
    display: block;
    border: 1px solid #0094f2;
    z-index: 1;
    pointer-events: none;
    box-shadow: 0px 0px 10px #0094f2;
	}
	.catalog__model:hover:focus {
		border: 1px solid #0094f2;
	}
	.catalog__model:hover {
		border: 1px solid #0094f2;
	}
	.catalog__pucture {
		width: 164px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 5px;
	}
	.catalog__pucture:hover {
		transform: scale(1.05, 1.05);
	}
	.catalog-list__inner span {
		max-width: 180px;
		font-size: 16px;
	}
}
@media (min-width: 1024px) {
	.catalog-list {
		margin-top: 0px;
		padding-left: 10px;
	}
	.catalog__title {
		margin: 0px;
  	margin-top: 20px;
  	margin-bottom: 22px;
  	font-size: 36px;
	}
	.catalog-list__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.catalog__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
	}
}

.filter-list-top-header {
	width: 270px;
	margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  height: 35px;
  color: #ffffff;
  text-align: center;
  background-color: #0094f2;
  border-radius: 10px;
}
.filter__link  {
	display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 40px;
  font-weight: 100;
  color: #20baee;
  border: none;
  outline: none;
  cursor: pointer;
  /*background-color: #eaeaea;*/
}
.filter-list-top-body a {
	display: block;
	padding-left: 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #565656;
  text-decoration: none;
}
.filter-list-top-body {
	width: 270px;
  margin: 0 auto;
}
.filter-list-top-body a:hover {
	color: #ffffff;
	background-color: #0094f2;
}
.filter__block.collapse {
	display: none;
}
.filter__item {
	margin: 20px 0px;
	width: 270px;
	height: 35px;
	background-image: url("../img/model-fon.png");
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1024px) {
	.filter-list-top-body a {
		display: block;
	}
	.filter-list {
		margin-bottom: 48px;
	}
	.filter-list-top-body {
		
	}
}
.contact {
	max-width: 1140px;
	margin: 0 auto;
}
.contact__title {
	margin: 0px;
  margin-top: 20px;
  margin-bottom: 22px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #545454;
}
.contact__name {
	margin: 0px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 30px;
	height: 35px;
	text-align: center;
	background-color: #0094f2;
	border-radius: 10px;
}
.contact__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
.contact__item {
	list-style: none;
}

.contact__header {
	padding: 0 10px;
	margin: 5px;
}
.contact__text {
	margin: 0px;
	padding: 0px 10px;
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: 300;
	color: #545454;
	text-align: justify;
}
.contact__link {
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: #545454;
}
.contact__block {
	display: block;
}
.contact__img {
	display: block;
}
.contact__item {
	width: 270px;
	margin-bottom: 20px;
}
.video__foto {
	max-width: 100%;
	height: auto;
}
.location__text {
	margin: 5px;
	padding: 5px;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  text-indent: 10px;
}
.contact__address span,
.contact__tel span,
.contact__main span,
.contact__workhours span {
	font-size: 16px;
	font-weight: 300;
	color: #545454;
}
.contact__address {
	display: block;
	margin-bottom: 13px;
	padding-left: 20px;
	background-size: 11px 16px;
	background-position: 0;
	background-image: url(../img/contact_address.png);
	background-repeat: no-repeat;
}
.contact__tel {
	display: block;
	margin-bottom: 13px;
	padding-left: 20px;
	background-size: 12px 16px;
	background-position: 0;
	background-image: url(../img/contact_tel.png);
	background-repeat: no-repeat;
}
.contact__main {
	display: block;
	margin-bottom: 13px;
	padding-left: 20px;
	background-size: 16px 14px;
	background-position: 0;
	background-image: url(../img/contact_email.png);
	background-repeat: no-repeat;
}
.contact__workhours {
	display: block;
	padding-left: 20px;
	background-size: 16px 16px;
	background-position: 0px 5px;
	background-image: url(../img/contact_clock.png);
	background-repeat: no-repeat;
}
.location__inner {
	margin-bottom: 30px;
}
.location {
	max-width: 1140px;
	margin: 0 auto;
}
.location__map {
	display: block;
	text-align: center;
}
.location__img {
	max-width: 100%;
	height: auto;
}
.contact__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.contact__caption {
	padding: 0px;
	margin: 0px;
	margin-top: -5px;
  margin-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
	color: #008cd6;
}
@media screen and (min-width: 767px) {
	.contact__title {
		font-size: 36px;
	}
	.contact__text {
		margin-bottom: 24px;
    font-size: 16px;
	}
	.contact__name {
		
	}
	.contact__header {
		max-width: 396px;
    padding: 0px;
    margin: 0px;
	}
	.contact__item {
		margin: 0px;
	  padding: 10px 0px;
	  /*padding-left: 10px;*/
	}
	.contact__list {
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
@media (min-width: 1024px) {
	.contact__wrapper {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
	}
	.contact__item--contact {
		/*padding-left: 17px;*/
		padding-top: 0px;
	}
	.contact__item--video {
		order: 2;
		padding-top: 0px;
		padding-left: 0px;
	}
	.contact__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
	}
	.contact__text {
		font-size: 16px;
    font-weight: 300;
	}
	.contact__title {
		margin: 0px;
		margin-bottom: 10px;
	}
	.location__inner {
		display: flex;
    flex-direction: column;
    margin-left: 20px;
	}
	.location__text {
		order: 1;
		font-size: 16px;
		font-weight: 300;
		padding: 0px;
		margin: 0px;
		margin-bottom: 15px;
	}
	.location__map {
		order: 2;
	}
	.contact__link {
		vertical-align: top;
	}
	.contact__text span {
		vertical-align: top;
	}
	.location__map {
		
	}
}
.addres {
	min-width: 270px;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.addres__title {
	margin: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  height: 35px;
  color: #fff;
  text-align: center;
  background-color: #008cd6;
  border-radius: 10px;
}
.addres__link {
	display: block;
	width: 270px;
	height: 35px;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  color: #565656;
  text-decoration: none;
  text-align: center;
  /*background-image: url(../img/model-fon.png);*/
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.addres__link:hover {
	color: #fff;
	background-color: #0094f2;
}
@media (min-width: 1024px) {
	.addres {
		margin: 0px;
		margin-bottom: 75px;
	}
}
.flashcard {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 50px;
}	
.flashcard__title {
	margin: 0px 10px;
  margin-top: 20px;
  margin-bottom: 22px;
  padding-bottom: 12px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #545454;
}
.flashcard-list__inner {
	display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.flashcard-list__inner a {
	display: block;
	margin: 0 auto;
}
.flashcard__text {
	padding: 0 10px;
	font-size: 16px;
	font-weight: 300;
	text-align: justify;
	text-indent: 15px;
	color: #818181;
	margin: 0px;
}
.flashcard-list {
	margin-bottom: 30px;
}
.flashcard-list.collapse {
	display: none;
}
.spoiler__content {
	display: none;
}
.spoiler-block {
	padding: 0 10px;
}
.spoiler__link {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: #3ec3f0;
}
.spoiler__content {
	font-size: 16px;
	font-weight: 300;
}
.content__inner {
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 100%;
}
@media (min-width: 768px) {
	.flashcard-list__inner {
		flex-direction: row;
	}
	.flashcard__title {
		font-size: 36px;
	}
	.flashcard__text {
		margin: 0px;
	}
}
@media (min-width: 1024px) {
	.flashcard__title {
		margin: 0px;
		padding: 0px;
    margin-bottom: 20px;
	}
	.flashcard-list__inner {
		flex-direction: row;
		margin: 0px;
		padding-left: 25px;
	}
	.flashcard__text {
		padding: 0px;
		/*padding-left: 10px;*/
	}
	.content__inner {
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 854px;
	}
	.product {
		padding-left: 15px;
	}
}
.product {
  position: relative;
  width: 100%;
}
.product__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.product__list-item {
	background: #000000;
  border-radius: 3px 0 0 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  height: 65px;
  line-height: 65px;
  text-align: center;
  padding-left: 12px;
}
.product__list-item a {
	color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.product__named a {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
.product__named,
.product__price,
.product__element {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product__list-item--remont {
	width: 320px;
}
.product__list-item--cost {
	width: 195px;
}
.product__list-item--detail {
	width: 199px;
}
.product__list-item--buy {
	width: 194px;
}
.product__block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 55px;
	line-height: 55px;
}
.product__named {
  overflow: hidden;
  padding-left: 12px;
  width: 320px;
}
.product__price {
	width: 195px;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.product__element {
	width: 199px;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.product__free {
	width: 194px;
}
.product__block--even {
	background: #f7f7f7;
}
.product__title {
	font-size: 25px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
}
.product__invisible {
	height: auto;
  overflow: visible;
  display: none;
}
.product__free a {
	display: block;
  width: 160px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #20baee;
  border-radius: 100px;
  border: 1px solid #3d57d3;
  transition: 0.2s ease-in-out;
}
.product__free a:hover {
	transform: scale(0.9);
  border: 2px solid #3d57d3;
}
.products__show-all {
  background: #000000;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 763px) {
	.product__list-item a {
		display: block;
		padding: 10px 0px;
	}
	.product__list-item {
		width: 34%;
		line-height: 1.3;
		padding: 0px;
	}
	.product__named,
	.product__price,
	.product__element {
		width: 34%;
	}
	.product__block {
		height: inherit;
		line-height: 1.3;
	}
	.product__free {
		display: none;
	}
	.product__list-item--buy {
		display: none;
	}
}
@media (min-width: 764px) {
	.product__list-item--buy {
		display: block;
	}
	.product__free {
		display: block;
		display: flex;
  	align-items: center;
  	justify-content: center;
	}
}